@model IEnumerable<Desafio.Imap.Api.Models.CandidatoViewModel>

@{
    ViewData["Title"] = "Index";
}

<center><h1>Candidatos</h1></center>

<p>
    <a class="text-dark bi bi-person-plus-fill" asp-action="Create">Adicionar Candidatos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.Estado)
            </td>
            <td>
                <a class="text-dark bi bi-pencil-fill" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="text-dark bi bi-person-lines-fill" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="text-dark bi bi-person-x-fill" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
